In [6]:
import pandas as pd
df = pd.read_csv('/Users/swarchol/Research/seal/data/astro/updated_astro.csv')

df.head()

,objid,run,rerun,camcol,field,obj,type,ra,dec,u,...,TAI_g,TAI_r,TAI_i,TAI_z,CellID,X_centroid,Y_centroid,cluster,UMAP_X,UMAP_Y
0,1.237650e+18,1336,301,3,77,6,6,260.097556,55.411202,19.07824,...,4461559004,4461558717,4461558789,4461558932,1,1497.111111,263.365079,1,2107.171519,1726.672198
1,1.237650e+18,1336,301,3,77,9,6,260.034837,55.392044,14.87881,...,4461559006,4461558719,4461558791,4461558934,2,1173.033364,436.889713,3,2194.195757,4.770907
2,1.237650e+18,1336,301,3,77,10,6,260.048734,55.386783,17.31924,...,4461559007,4461558721,4461558792,4461558936,3,1244.950311,485.559006,3,2375.608473,150.728179
3,1.237650e+18,1336,301,3,77,11,6,260.027856,55.386657,23.95996,...,4461559007,4461558720,4461558792,4461558935,4,1137.000000,486.571429,0,667.567758,1537.736732
4,1.237650e+18,1336,301,3,77,12,6,260.038059,55.395994,23.73612,...,4461559005,4461558718,4461558790,4461558933,5,1190.333333,401.666667,2,289.294741,146.618950

In [7]:
# cluster_columns = ['agcluster','kmeans']
# # cluster_columns = ['agcluster']
# config = {
#     "embeddingImageUrl": "http://localhost:8181/files/embedding_image.ome.tif",
#     "embeddingSegmentationUrl": "http://localhost:8181/files/embedding_segmentation.ome.tif",
#     "csvUrl": "http://localhost:8181/files/csv.csv",
#     "clusterColumns": cluster_columns,
#     "imageUrl": "http://localhost:8181/files/image.ome.tif",
#     "segmentationUrl": "http://localhost:8181/files/segmentation.ome.tif"
# }

In [8]:
   # embeddingImageUrl: "http://localhost:8181/data/astro/hybrid.ome.tif",
   #  embeddingSegmentationUrl: "http://localhost:8181/data/astro/hybrid.mask.ome.tif",
   #  csvUrl: "http://localhost:8181/data/astro/updated_astro.csv",
   #  clusterColumns: ["cluster"],
   #  imageUrl: "http://localhost:8181/data/astro/astro.ome.tif",
   #  segmentationUrl: "http://localhost:8181/data/astro/astro_seg_masks.ome.tif",

In [9]:
import pandas as pd
df = pd.read_csv('/Users/swarchol/Research/seal/data/astro/updated_astro.csv')
config = {
    "embeddingImageUrl":  "http://localhost:8181/data/astro/hybrid.ome.tif",
    "embeddingSegmentationUrl": "http://localhost:8181/data/astro/hybrid.mask.ome.tif",
    "csvUrl": "http://localhost:8181/data/astro/updated_astro.csv",
    "clusterColumns": ["cluster"],
    "imageUrl": "http://localhost:8181/data/astro/astro.ome.tif",
    "segmentationUrl": "http://localhost:8181/data/astro/astro_seg_masks.ome.tif"
}

In [10]:
from seal import Seal
Seal(df=df, config=config)

Seal(config={'embeddingImageUrl': 'http://localhost:8181/data/astro/hybrid.ome.tif', 'embeddingSegmentationUrl…

INFO:     Started server process [25912]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
ERROR:    [Errno 48] error while attempting to bind on address ('127.0.0.1', 8181): address already in use
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.